$menuW : 300px;

#comp_box{
  overflow: hidden;
  *{box-sizing: border-box}
}
#comp_menu {
  float: left;
  width: 300px;
  list-style: none;
}

#comp_main{
  width: calc(100% - #{$menuW});
  border: 1px solid #000;
  float: left;
}
